<!DOCTYPE html>
<html lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% if page.layout == 'author' %}
    {% assign section_title = site.data.authors | where: "id", page.author | first | map: "name" %}
    {% elsif page.title != 'Home' %}
    {% assign section_title = page.title %}
    {% endif %}
    <title>{% if section_title %}{{ section_title }} &ndash; {% endif %}{{ site.title }}</title>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <link rel="alternate" type="application/atom+xml" title="{{ site.title }} &raquo; Feed" href="{{ site.url }}/feed.atom" />
    <link rel='dns-prefetch' href='//fonts.googleapis.com' />
    <link rel='stylesheet' type='text/css' media='all' href='https://fonts.googleapis.com/css?family=Merriweather%3A400%2C700%2C900%2C400italic%2C700italic%2C900italic%7CMontserrat%3A400%2C700%7CInconsolata%3A400&#038;subset=latin%2Clatin-ext' />
    <link rel='stylesheet' type='text/css' media='all' href='/css/twentysixteen.css?ver=4.7' />
    <meta name="description" content="{{ page.excerpt | strip_html }}"/>
    <meta property="fb:app_id" content="966242223397117">
    <meta property="og:locale" content="en_US" />
    <meta property="og:type" content="article" />
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html }}" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    <meta property="article:publisher" content="https://www.facebook.com/sapiensoup/" />
    <meta property="article:section" content="health" />
    {% if page.date %}
    <meta property="article:published_time" content="{{ page.date | date_to_xmlschema}}" />
    {% endif %}
    {% if page.facebook.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.facebook.image }}" />
    {% endif %}
    <meta name="twitter:card" content="{% if page.twitter.large %}summary_large_image{% else %}summary{% endif %}" />
    <meta name="twitter:description" content="{{ page.excerpt | strip_html }}" />
    <meta name="twitter:title" content="{{ page.title }}" />
    <meta name="twitter:site" content="@sapiensoupblog" />
    {% if page.twitter.image %}
    <meta name="twitter:image" content="{{ site.url }}{{ page.twitter.image }}" />
    {% endif %}
    <meta name="twitter:creator" content="@sapiensoupblog" />
  </head>
  <body class="post-template-default single single-post postid-114 single-format-standard wp-custom-logo group-blog">
    <div id="page" class="site">
      <div class="site-inner">
        <a class="skip-link screen-reader-text" href="#content">Skip to content</a>
        <header id="masthead" class="site-header" role="banner">
          <div class="site-header-main">
            <div class="site-branding">
              <a href="{{ site.url }}" class="custom-logo-link" rel="home" itemprop="url">
                <img width="120" height="115" src="/images/masthead-logo.png" class="custom-logo" alt="" itemprop="logo" />
              </a>
              <p class="site-title">
                <a href="{{ site.url }}" rel="home">{{ site.title }}</a>
              </p>
            </div><!-- .site-branding -->
          </div><!-- .site-header-main -->
        </header><!-- .site-header -->
        <div id="content" class="site-content">
          <div id="primary" class="content-area">
            <main id="main" class="site-main" role="main">
              {{ content }}
            </main><!-- .site-main -->
          </div><!-- .content-area -->
          <aside id="secondary" class="sidebar widget-area" role="complementary">
            <section id="text-3" class="widget widget_text">
              <h2 class="widget-title">ABOUT</h2>
              <div class="textwidget">We are two skeptical geeks who<br>
                1) never take anything at face value,<br>
                2) scrutinize the evidence,<br>
                3) and share our findings. <p>
								<a href="/about">Read more&hellip;</a>
              </div>
            </section>
            <section id="text-3" class="widget widget_text">
              <h2 class="widget-title">NEVER MISS A STORY</h2>
              <div class="textwidget">Sign up &nbsp<a href="http://eepurl.com/cBB_9D">here</a> <p>
              </div>
            </section>
            <section id="search-2" class="widget widget_search">
              <form role="search" method="get" class="search-form" action="https://google.com/search">
                <label>
                  <span class="screen-reader-text">Search for:</span>
                  <input type="text" class="search-field" placeholder="Search &hellip;" name="q"/>
                </label>
                <input type="hidden" name="sitesearch" value="{{ site.url }}" />
                <button type="submit" class="search-submit">
                  <span class="screen-reader-text">Search</span>
                </button>
              </form>
            </section>
            <section id="recent-posts-2" class="widget widget_recent_entries">
              <h2 class="widget-title">Recent Posts</h2>
              <ul>
                {% for post in site.posts %}
                <li>
                  <a href="{{ post.url }}">{{ post.title }}</a>
                </li>
                {% endfor %}
              </ul>
            </section>
          </aside><!-- .sidebar .widget-area -->
        </div><!-- .site-content -->
        <footer id="colophon" class="site-footer" role="contentinfo">
          <p class="disclaimer">
            <small>DISCLAIMER
              <br>We hate disclaimers. But there are weird people out there and we have to cover our backs. So here is what some lawyers said we should say: all data and information provided on this site is for informational purposes only. sapiensoup.com makes no representations as to accuracy, completeness, currentness, suitability, or validity of any information on this site and will not be liable for any errors, omissions, or delays in this information or any losses, injuries, or damages arising from its display or use. All information is provided on an as-is basis.
            </small>
          </p>
          <div class="site-info">
            <span class="site-title">
              <a href="http://sapiensoup.com/" rel="home">{{ site.title }}</a>
            </span>
          </div><!-- .site-info -->
        </footer><!-- .site-footer -->
      </div><!-- .site-inner -->
    </div><!-- .site -->
    {% if jekyll.environment == "production" %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-85960731-1', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-589f1e4a30b2b02c"></script>
  </body>
</html>
