---
layout: default
---

{% assign post = page %}

{% include post-article.html post=post %}

<div id="comments" class="comments-area">
  <div id="respond" class="comment-respond">
    <h2 id="reply-title" class="comment-reply-title">Leave a Reply</h2>
    TODO: Disqus
  </div>
</div><!-- .comments-area -->
<nav class="navigation post-navigation" role="navigation">
  <h2 class="screen-reader-text">Post navigation
  </h2>
  <div class="nav-links">
    {% if post.previous %}
    <div class="nav-previous">
      <a href="{{ post.previous.url }}" rel="prev">
        <span class="meta-nav" aria-hidden="true">Previous</span>
        <span class="screen-reader-text">Previous post:</span>
        <span class="post-title">{{ post.previous.title }}</span>
      </a>
    </div>
    {% endif %}
    {% if post.next %}
    <div class="nav-next">
      <a href="{{ post.next.url }}" rel="prev">
        <span class="meta-nav" aria-hidden="true">Next</span>
        <span class="screen-reader-text">Next post:</span>
        <span class="post-title">{{ post.next.title }}</span>
      </a>
    </div>
    {% endif %}
  </div>
</nav>
